<div ng-controller="AddressController">
    <div class="formDiv">
        <h3>Select Employee, Start Date, and End Date</h3>
        <form>
            <select ng-model="selection.name" ng-options="employee.name for employee in employeeArray" value="{{employee.name}}">
                <!--<option ng-repeat="employee in employeeArray" value="{{employee.name}}"> {{employee.name}}</option>-->
                <option value="">[select employee..]</option>
            </select>
            <input type="text" ng-model="selection.datestart">
            <input type="text" ng-model="selection.datestart">
            <button ng-click="getTheOrders()">Submit</button>
        </form>

    </div>
</div>